*{
list-style: none; 
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: sans-serif;
  max-width: 400px;
  
}

fieldset{
  border:none;
}
h1{
  margin:  1rem;
}

.addTodo{
  background-color: rgb(19, 175, 19);
  color: #ffffff;
  padding: 0.5rem;
  border:none;
  border-radius: 0 4px 4px 0 ;
  height: 2rem;  
  transition: background-color 0.5s ease-out;
}


.delete{
  background-color: rgb(175, 19, 19);
  color: #ffffff;
  padding: 0.5rem;
  border:none;
  border-radius: 4px;
}
.delete:hover{
  background-color: rgb(112, 0, 0);  
  transition: background-color 0.5s ease-out;
  
}

.addTodo:hover{
  background-color: rgb(9, 109, 9);
  color: #ffffff;
  padding: 0.5rem;
  border:none;
  border-radius: 0 4px 4px 0 ;
}

.input{
  height: 2rem;
  border-radius: 4px 0 0 4px;
  border:1px solid rgb(160, 160, 160);
}

.todoItem{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: flex-start;
  border-bottom: 1px solid rgb(201, 201, 201);
  padding: 1rem 0 1rem 0 ;
 
}
.todoItem input {
  margin-left: 1rem;}

.todoItem p.todoText{
  flex-grow: 1;
  margin-left: 1rem;
} 

.notTodo{
color: rgb(155, 6, 6);
background-color: rgb(245, 192, 192);
text-align: center;
padding: 1rem;
border-radius: 4px;
}

.newTodo {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

.newTodo fieldset {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
 width: 100%;
}

.newTodo fieldset input {
  width: 70%;
}

.newTodo fieldset .addTodo {
  width: 30%;
}

.todoDone{
  text-decoration:line-through;
 
}

